{% extends 'temp/base.html' %}

    {% block title_name %}
        Каталог товар
    {% endblock %}

    {% block content %}

    <h1>Каталог товаров</h1>
    <p>
        <a href="{% url 'home_page' %}">На домашнюю страницу</a>
    </p>

    {% if perms.magazine.add_product %}
        <p>
            <a href="{% url 'create_product_page' %}">Добавить товар</a>
        </p>
    {% endif %}
    <div class="container">


    <div class="row">
        {% for object in list_object %}

        <div class="col-lg-3 col-sm-4">
        <div class="card" style="width: 18rem; margin:20px">
            <!--<img src="..." class="card-img-top" alt="...">-->
            <div class="card-body" style="">
                 <img src="{{ object.photo.url }}" class="card-img-top" alt="Product Image">
                <h5 class="card-title">{{ object.name }}</h5>
{#                <p class="card-text">{{ object.description }}</p>#}
                <h6 class="card-text">{{ object.price }} руб.</h6>
                <a href="{% url 'detail_product_page' object.pk%}" class="btn btn-primary">Подробнее</a>
            </div>

        </div>
    </div>
        {% endfor %}

    </div>
    </div>
    {% endblock %}

    {% block footer %}

    {% endblock %}

