{% with active_link='nav-link px-2 link-secondary' passive_link='nav-link px-2' %}
    {% load default_style %}

     <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        </a>
          <span class="fs-4">Staruhhha</span>
      </div>

     {{ current_page }}

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="?curr_page=home_page" class="{% if current_page == 'home_page' %} {{ active_link }} {% else %} {{ passive_link }} {% endif %}">Главная</a></li>
        <li><a href="?curr_page=catalog_product_page" class="{% if current_page == 'catalog_product_page' %} {{ active_link }} {% else %} {{ passive_link }} {% endif %}">Продукты</a></li>
        {% if perms.magazine.view_supplier%}
            <li><a href="{% url 'catalog_supplier_page' %}" class="nav-link px-2" >Поставщики</a></li>
        {% endif %}
        <li><a href="#" class="nav-link px-2">FAQs</a></li>
        <li><a href="#" class="nav-link px-2">About</a></li>
      </ul>





    <div class="col-md-3 text-end">
        {% if request.user.is_anonymous %}
            <a type="button" class="btn btn-outline-primary me-2" href="{% url 'log in' %}">Войти</a>
            <a type="button" class="btn btn-primary" href="{% url 'regis' %}">Зарегистрироваться</a>
        {% else %}
            <a type="button" class="btn btn-danger" href="{% url 'log out' %}">Выйти</a>
        {% endif %}
    </div>

    </header>


{% endwith %}